.emoji-input {
   padding: 10px;
   background: lightblue;
}

.emoji-picker {
   position: absolute;
   /*
   left: 50%;
   transform: translateX(-50%);
   */
   width: 300px;
   font-size: 13px;
   margin-top: 10px;
   border-radius: 10px;
   background: rgb(0,0,0,0.1);
   backdrop-filter: blur(8px);
   -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.3); 
   box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.3);
}

.emoji-picker > .container {
   height: 300px;
   overflow-y: scroll;
}

.emoji-picker > .container > .top-bar {
   display: flex;
   align-items: center;
}

.emoji-picker > .container > .top-bar > :first-child {
   flex-grow: 2;
}

.emoji-picker > .container > .top-bar > :last-child {
   padding: 10px;
}

.emoji-picker > .container > .emoji-body {
   padding-inline: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-bottom: 10px;
}

.emoji-grid {
   display: grid;
   grid-gap: 2px;
   grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}

.emoji-grid > div {
   height: 35px;
   font-size: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
}

.emoji-grid > div:hover {
   cursor: pointer;
   background: pink;
}

.emoji-picker > .container > .emoji-body > .emoji-group > :first-child {
   text-transform: uppercase;
   padding: 5px 0px;
}

.emoji-search {
   padding: 10px;
}

.emoji-search > input {
   width: 100%;
   border: 0;
   font-size: 12px;
   padding: 5px;
}

.emoji-picker > .footer {
   padding: 10px;
   -webkit-box-shadow: 0px -5px 10px -5px rgba(0,0,0,0.1); 
   box-shadow: 0px -5px 10px -5px rgba(0,0,0,0.1);
}
