@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   background: #f8fafc;
}

h2 {
   margin: 0;
   margin-bottom: 20px;
}

.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 50px;
   gap: 30px;
}

.emoji-input {
   font-size: 40px;
   padding: 5px;
   background: lightblue;
}

.emoji-input:hover {
   cursor: pointer;
}

.container {
   display: flex;
   width: min(90%, 1000px);
   gap: 20px;
}

.container > :first-child {
   display: flex;
   justify-content: center;
   width: 50%;
   padding: 40px 0px;
}

.container > :last-child {
   width: 50%;
   display: flex;
   justify-content: center;
   padding: 40px 0px;
   border-radius: 10px;
   background: #f1f5f9;
}

.container > :last-child > div {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

input[type=checkbox] {
   margin-right: 10px;
}

input[type=text] {
   margin-left: 10px;
   padding: 5px;
}

label.true-false {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: start;
}

.code-container {
   width: min(90%, 600px);
}

.footer {
   position: fixed;
   bottom: 0;
   display: flex;
   align-items: center;
   gap: 20px;
}


.footer > :first-child {
   padding: 20px;
}

.footer > :first-child:hover {
   cursor: pointer;
}
